<nav id="top">

  <ul class="links">
    <li>
      <a href="/">home</a>
      <span>res.render()</span>
    </li>
    <li>
      <a href="/productos">productos</a>
      <span>res.render()</span>
    </li>
    <li>
      <a href="/if">if</a>
      <span>res.render()</span>
    </li>
    <li>
      <a href="/test">test</a>
      <span>res.sendFile()</span>
    </li>
    <li>
      <a href="/download">download</a>
      <span>res.download()</span>
    </li>
  </ul>
</nav>