<h1>/HOME</h1>
<div>
  <h2>Contenido</h2>
  <div class="objetoDeJs">
    {{!-- Esto es una variable enviada desde el index.js --}}
    <h3>Esto es un Objeto de JS:</h3>
    <div>Name: {{name}}</div>
    <div>Edad: {{edad}}</div>
    <div>Color: {{color}}</div>
  </div>
</div>


<hr>
<h3>Info Util</h3>
<div class="texto-chico info">
  <h3>Response methods</h3>
  <ul>
    <li>res.download() Prompt a file to be downloaded.</li>
    <li>res.end() End the response process.</li>
    <li>res.json() Send a JSON response.</li>
    <li>res.jsonp() Send a JSON response with JSONP support. </li>
    <li>res.redirect() Redirect a request.</li>
    <li>res.render() Render a view template.</li>
    <li>res.send() Send a response of various types.</li>
    <li>res.sendFile() Send a file as an octet stream.</li>
    <li>res.sendStatus() Set the response status code and send its string representation as the response body.</li>
  </ul>
</div>